.link {
    margin-left: 10px;
}

.link:hover {
    text-decoration: underline;
}

.icon {
    width: 30px;
    padding-top: 10px;
}

.nav-wrapper {
    background: white;
    width: 80%;
    margin: auto;
}

.sidenavPic {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
    opacity: 0;
}

h4 {
    font-family: 'Courgette', cursive;
    border-bottom: 1px solid black;
}

.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0;
}

.profilePic {
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.myPic {
    margin-top: 20px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.aboutMe {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 40px;
}

.projectLink:hover {
    text-decoration: underline;
}

.iconBig {
    width: 75px;
    margin-right: 20px;
}

.socialIcons {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
}

.myLogo {
    width: 125px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.divider {
    height: 150px;
    background-image: url("../images/abstract-art-background-1227511.jpg");
    background-size: auto 150px;
}

.container {
    width: 80%;
}

.skills {
    text-align: center;
    font-size: 20px;
}

.btn {
    width: 250px;
    margin: auto;
    display: block;
    justify-content: center;
}